export(featureSignif)
export(featureSignifGUI)
export(SiZer,SiCon)

S3method(plot, fs)
import(ks)
import(misc3d)
import(rgl)
import(tcltk)
importFrom(utils, installed.packages)
##importFrom(ks, drvkde, dfltCounts)




